*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 13, 79);
}
h1{
    color: rgb(109, 234, 100);
    text-align: center;
    font-size:64px ;
}
div{
    width: 620px;
    margin: 0 auto;
}
h2{
    display: inline-block;
    text-align: left;
    color: white;
    width: 220px;
    font-size: 35px;
    margin-right: 50px;
}
#ia{
    color: rgb(109, 234, 100);
    font-size: 40px;
}
span{
    color: rgb(109, 234, 100);
    font-size: 40px;
}
p{
    text-align: center;
    width: auto;
    color: white;
    margin: 100px 25% 0 25%;
    font-size: 30px;
}
a{
    display: block;
    background-color: rgb(162, 78, 240);
    color: azure;
    font-size: 50px;
    border-radius: 50px;
    padding: 5px;
    width: 350px;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
}