*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 13, 79);
}
h1{
    color: rgb(109, 234, 100);
    text-align: center;
    font-size:64px ;
}
div{
    width: 670px;
    margin: 0 auto;
}
h2{
    display: inline-block;
    text-align: left;
    color: white;
    width: 220px;
    font-size: 35px;
    margin-right: 50px;
}
#ia{
    color: rgb(109, 234, 100);
    font-size: 40px;
}
span{
    color: rgb(109, 234, 100);
    font-size: 40px;
}
p{
    display: block;
    text-align: center;
    width: 650px;
    color: white;
    margin: 40px auto 0 auto;
    font-size: 30px;
    border-style: solid;
    border-color: turquoise;
}
a{
    display: block;
    background-color: rgb(162, 78, 240);
    color: azure;
    font-size: 50px;
    border-radius: 50px;
    padding: 5px;
    width: 350px;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
}
#duvidas{
    display: inline;
    font-size: 30px;
    color: blueviolet;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
}
@media  (max-width: 680px){
    h1{
        font-size: 35px;
    }
    div{
        width: 300px;
    }
    h2{
        margin: 0;
        width: 170px;
        font-size: 17px;
    }
    #ia{
        font-size: 20px;
    }
    span{
        font-size: 20px;
    }
    img{
        width: 120px;
        height: 210px;
    }
    p{
        font-size: 25px;
        width: 300px;
    }
    a{
        font-size: 35px;
        width: 270px;
    }
    #duvidas{
        font-size: 25px;
    }
}
@media  (max-width: 380px){
    h1{
        margin: auto 0 auto 20px;
        font-size: 30px;
    }
    div{
        width: 270px;
    }
    img{
        width: 100px;
        height: 180px;
    }
    h2{
        width: 150px;
        font-size: 16px;
    }
    span{
        font-size: 18px;
    }
    #ia{
        font-size: 18px;
    }
    p{
        font-size: 15px;
        width: 150px;
    }
    a{
        font-size: 20px;
        width: 200px;
    }
    #duvidas{
        font-size: 15px;
    }
}

